/* General element styles */

body{
    background-color:#F8F8FF;
}

h1 {
    font-size:60px;
    color: #333333;
    font-family: Century Gothic, sans-serif;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size:1.04em; */
}

img {
    width:100%;
    border:2px solid black; /* Border for all imgs */
}

/* unvisited links */
a:link{
    text-decoration:none;
}

a.header:link{
    color:#000000;
}

a.header:visited{
    color:#000000;
    text-decoration:none;
}

a.header:hover{
    color:#B8860B;
}    

a.footer:link {
    color:#000000;
    text-decoration:none;
}      

/* visited link */
a.footer:visited {
    color:#000000;
    text-decoration:none;
}

/* hover link */
a.footer:hover {
    color:#B8860B;
}





/* Container styles */

article{
    border:2px solid black;
    /* Browser compatability */
    margin:0px;
    padding:0px;
    background-color: #8FBC8F;
} 

header{
    text-align:right;
    padding-right:10%;
}
          
figure{
    position:relative; /*Places text within img */
    max-width:1000px;
    width:93%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
          
figure section{
    /* For future styling
    background-color:#000000;
    opacity:0.1; */
    position: absolute; /* Places text within img */
    top: 7%;
    left: 7%;
    right: 35%; /* Keeps text from bleeding too far right */
    bottom:4%;
    overflow-y:auto; /* Creates scrolling */
}

nav {
    text-align:center;
    margin-left:0%;
    margin-right:0%;
}

nav section img {
    width:30%;
    max-width:325px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:1%;
}

footer {
    background-color:#D3D3D3;
    text-align:center;
    padding-top:1px;
    max-width:1000px;
    width:93%;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* Possible alternative style
    position:fixed;
    right:10%;
    bottom:0px;
    left:10%; */
}

footer section {
    margin:0px;
    padding:0px;
}

footer ul {
    list-style-type:none; /*Removes bullets */
    margin-top:5px;
    margin-bottom:0px;
}

footer li{
    margin-right: 2%;
    display:inline; /*Makes list horizontal */
}





/* Class and ID styles*/
#social {
    /* Social media buttons */
    margin:2 2 2 2px;
    padding:0px
}

#social img {
    width:25px;
    height:25px;
    border:0px solid black; /*removes border */
}

@media screen and (max-width:600px) {
    figure section {
        /* background-color:#000000;
        opacity:0.1;*/
        position: absolute; /* Places text within img */
        top: 1%;
        left: 2%;
        right:20%; /* Moves text further right to create more space */
        bottom:3%;
        overflow-y:auto; /* Creates scrolling */
    }
}
    

@media screen and (max-width:350px) {
    figure section {
        /* background-color:#000000;
        opacity:0.1; */
        position: absolute; /* Places text within img */
        top: 7%;
        left: 7%;
        right:3%;
        bottom:4%;
        overflow-y:auto; /* Creates scrolling */
    }
}