

/* General element styles */

h1 {
    font-size:55px;
    font-family: 'Julius Sans One', sans-serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Crimson Text', 'serif';
}

a:link {
    color:#660099;
    text-decoration:none;
}


a:visited {
    color:#000000;
    text-decoration:none;
}

a:hover {
    color:#0066FF;
}


/* Container styles */
body {
    margin:0px;
    padding:0px;
}

header {
    position:fixed; /*Keeps header on top */
    background-color:#B0C4DE;
    width:100%;
    margin-top:-16px;
}

header h1 {
    margin-top:0px;
    margin-bottom:-17px;
}

header ul {
    list-style-type:none;
}


nav {
    text-align:center;
    margin-left:0%;
    margin-right:0%;
}

nav img {
    width:23%;
    max-width:220px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:1%;
}

article {
    margin-right: auto;
    margin-left: auto;
    width:80%;
    max-width:900px;
    padding-top:160px;
    padding-bottom:20px;
}

article p, h2 {
    max-width:100%;
    text-align:justify;
}


footer p {
    font-size:10px;
    text-align:center;
}


/* Class and ID styles*/

#header {
    float:left;
}    

#header h1 {
    clear:both;
    width:40%;
}

#header li {
    display:inline;
    font-family: 'Quicksand', sans-serif;
}

#social {
    float:right;
    margin-right:10px;
    margin-top:110px;
}

#social li {
    display:inline;
}

#social img {
    width:25px;
    height:25px;
}

@media screen and (max-width:635px) {

    #header {
        float:left;
        width:55%;
    }    
    
    #header li {
        display:inline;
    }
    
    #social {
        float:right;
        margin-right:10px;
    }
}



@media screen and (max-width:540px) {
    article {
        padding-top:190px;
    }
    
    article h2 {
        text-align:left;
    }
    
    #header {
        width:90%;
    }
    
    #social {
        float:left;
        margin-top:-25px;
        margin-right:0%;
        margin-bottom:-10px;
    }
    
    nav img {
        width:100%;
    }
}

@media screen and (max-width:350px) {
    article {
        width:95%;
        padding-top:220px;
        margin-left:5%;
    }
    
    nav img {
        width:100%;
    }
    
    #header {
        width:50%;
    }
    
    #social {
        float:right;
        margin-top:1px;
        margin-right:0%;
    }
    
    #social li {
        display:block;
    }