/* General element styles */

body {
    /* Browser compatability */
    margin:0px;
    padding:0px;
	background-color: #E0FFFF;
    max-width:1250px;
}

h1 {
    font-size:60px;
    /* color: #111111; */
    color: #333333;
    font-family: Century Gothic, sans-serif;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size:1.04em; */
}

img {
    width:100%;
    border:2px solid black; /* Border for all imgs */
}

/* unvisited links */
a:link{
    text-decoration:none;
}

a.footer:link {
    color:#000000;
    text-decoration:none;
}      

/* visited link */
a.footer:visited {
    color:#000000;
    text-decoration:none;
}

/* hover link */
a.footer:hover {
    color:#B8860B;
}





/* Container or module styles */

/* article{
    align-content;center;
    border:2px solid black;
    margin-left:5%;
    margin-right:5%;
    background-color:#F8F8FF;
} */

header{
    text-align:right;
    padding-right:10%;
}
          
figure{
    position:relative; /*Places text within img */
    max-width:1000px;
    margin-left:4%; /* to center */
    margin-right:4%; /* to center */
   /* padding-bottom:5px; */
}
          
figure section {
    /* background-color:#000000;
    opacity:0.1; */
    position: absolute; /* Places text within img */
    top: 7%;
    left: 7%;
    right: 35%;
    bottom:4%;
    overflow-y:auto; /* Creates scrolling */
}

nav {
    text-align:center;
    margin-left:0%;
    margin-right:0%;
}

nav section img {
    width:30%;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:1%;
    max-width:325px;
}

footer {
    background-color:#D3D3D3;
    text-align:center;
    padding-top:1px;
    max-width:1000px;
    margin-left:3.5%; /* to center */
    margin-right:3.5%; /* to center */
    /* position:fixed;
    right:10%;
    bottom:0px;
    left:10%; */
}

footer section {
    margin:0px;
    padding:0px;
}

footer ul {
    list-style-type:none; /*Removes bullets */
    margin-top:5px;
    margin-bottom:0px;
}

footer li{
    margin-right: 2%;
    display:inline; /*Makes list horizontal */
}





/* Class and ID styles*/
#social {
    margin:2 2 2 2px;
    padding:0px
}

#social img {
    width:25px;
    height:25px;
    border:0px solid black; /*removes border */
}

@media screen and (max-width:1024px){
    body{background-color:red}
}

@media screen and (max-width:600px) {
    body{background-color:blue}

    figure section {
        /* background-color:#000000;
        opacity:0.1;*/
        position: absolute; /* Places text within img */
        top: 7%;
        left: 7%;
        right:3%;
        bottom:4%;
        overflow-y:auto; /* Creates scrolling */
}
    footer {    
        position:inherit;
        right:10%;
        bottom:0px;
        left:10%;
    }
}

  .resume{
        background:url(imgs/writing.jpg)
    }
    

@media screen and (max-width:350px) {
    body{background-color:purple}

    figure section {
        /* background-color:#000000;
        opacity:0.1; */
        position: absolute; /* Places text within img */
        top: 7%;
        left: 7%;
        right:3%;
        bottom:4%;
        overflow-y:auto; /* Creates scrolling */
    }
    
    .resume{
        background:url(imgs/writing-small.jpg)
    }
    
    footer{
        position:inherit;
    }
    
    footer li{
    margin-right: 2%;
    display:block; /*Makes list vertical */
}
}
}