/* General element styles */

container {
    border:1px;
}

body {
	background-color: #F5F5DC;
}

h1 {
    font-size:60px;
    color: #111111;
}

h2 {
}

p {
}

img {
    width:100%;
    border:2px solid black;
}

/* unvisited links */
a:link{
    text-decoration:none;
}

a.footer:link {
    color:#000000;
    text-decoration:none;
}      

/* visited link */
a.footer:visited {
    color:#000000;
    text-decoration:none;
}

/* hover link */
a.footer:hover {
    color:#B8860B;
}





/* Container or module styles */

header{
    text-align:right;
    padding-right:10%;
}
          
figure{
    position:relative; /*Places text within img */
    max-width:1000px;
    margin-left:14%; /* to center */
    margin-right:14%; /* to center */
   /* padding-bottom:5px; */
}
          
figure section {
    /* background-color:#000000;
    opacity:0.1; */
    position: absolute; /* Places text within img */
    top: 7%;
    left: 7%;
    right: 40%;
    bottom:4%;
    overflow-y:auto; /* Creates scrolling */
}

nav {
    text-align:center;
    margin-left:13%;
    margin-right:13%;
}

nav section img {
    width:23%;
    margin-left:3px;
    margin-right:3px;
    margin-bottom:1%;
    max-width:310px;
}

footer {
    background-color:#686868;
    text-align:center;
    padding-top:1px;
    max-width:1000px;
    margin-left:13%; /* to center */
    margin-right:13%; /* to center */
}

footer section {
    margin:0px;
    padding:0px
}

footer ul {
    list-style-type:none;
    margin-top:5px;
    margin-bottom:0px;
}

footer li{
    margin-right: 2%;
    display:inline;
}




/* Class and ID styles*/
#social {
    margin:2 2 2 2px;
    padding:0px
}

#social img {
    width:25px;
    height:25px;
    border:0px solid black;
}
