/* General element styles */

container {
    border:1px;
}

body {
	background-color: #F5F5DC;
}

h1 {
    font-size:60px;
    color: #111111;
}

h2 {
}

p {
}

img {
    width:100%;
    border:2px solid black;
}

/* unvisited links */
a:link{
    text-decoration:none;
}

a.footer:link {
    color:#000000;
    text-decoration:none;
}      

/* visited link */
a.footer:visited {
    color:#000000;
    text-decoration:none;
}

/* hover link */
a.footer:hover {
    color:#B8860B;
}





/* Container or module styles */

header{
    text-align:right;
    padding-right:10%;
}
          
figure{
    position:relative; 
}
          
figure section {
    position: absolute; 
    top: 7%;
    left: 7%;
    right: 50%;
}

nav {
    text-align:center;
}

nav section img {
    width:30%;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:1%;
}

footer {
    background-color:#686868;
    text-align:center;
    padding-top:1px;
}

footer section {
    margin:0px;
    padding:0px
}

footer ul {
    list-style-type:none;
    margin-top:5px;
    margin-bottom:0px;
}

footer li{
    margin-right: 2%;
    display:inline;
}




/* Class and ID styles*/
#social {
    margin:2 2 2 2px;
    padding:0px
}

#social img {
    width:25px;
    height:25px;
    border:0px solid black;
}
